@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$yellow: #FCCA40;
$light-yellow: #fddf90;
$red: #f05a5a;
$blue: #5c7fbc;
$dark-grey: #333333;

$bg-color: $dark-grey;
$hs-color: $yellow;
$ps-color: $red;
$occupation-color: $blue;

body {
  background: $bg-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .decks-container, .page-container {
    width: 500px;
    height: 96vh;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.grade-buttons {
  display: flex;
  justify-content: space-between;

  .grade-button {

  }
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  padding: 20px;

  .page {
    .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .btn {
        margin: 10px;
      }
    }

    .block {
      margin: 10px;
      padding: 10px;
    }
  }
}

.decks-container {
  display: flex;
  flex-direction: column;

  &.loading {
    opacity: 0.5;
  }
}

.deck-container {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 33%;
  flex-grow: 1;

  .card {
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: scroll;

    .header, .details {
      display: flex;

      .pill {
        border: 1px solid $dark-grey;
        padding: 3px 10px;
        border-radius: 2em;
        margin: 3px;

        &.lockable {
          cursor: pointer;
          display: flex;

          .material-icons {
            margin-left: 6px;
          }
        }
      }
    }

    .header {
      font-weight: 700;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &:nth-of-type(1) {
    background-color: $yellow;
  }

  &:nth-of-type(2) {
    background-color: $red;
  }

  &:nth-of-type(3) {
    background-color: $blue;
  }
}



