@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$yellow: #FCCA40;
$light-yellow: #fddf90;
$red: #f05a5a;
$blue: #5c7fbc;
$dark-grey: #333333;

$bg-color: $dark-grey;
$hs-color: $yellow;
$ps-color: $red;
$occupation-color: $blue;

body {
  background: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .decks-container {
    width: 500px;
  }
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .page {
    .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .btn {
        margin: 10px;
      }
    }

    .block {
      margin: 10px;
      padding: 10px;
    }
  }
}

.deck-container {
  display: flex;
  align-items: center;
  padding: 20px;

  .card {
    padding: 10px;
    width: 100%;

    .header, .details {
      display: flex;

      .pill {
        border: 1px solid grey;
        padding: 3px 8px;
        border-radius: 2em;
        margin: 3px;
      }
    }

    .header {
      font-weight: 700;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &:nth-of-type(1) {
    background-color: $yellow;
  }

  &:nth-of-type(2) {
    background-color: $red;
  }

  &:nth-of-type(3) {
    background-color: $blue;
  }
}



